---
import Layout from "../layouts/Layout.astro";
import ContentContainer from "../components/layout/ContentContainer.astro";
import GlobalBuyersLeadForm from "../components/GlobalBuyersLeadForm.astro";
import * as GlobalBuyersSvgs from "../lib/figmaMarkup/globalBuyersSvgs";
import {
	Frame50,
	Frame52,
	Frame54,
	Frame62,
	Frame65,
	Frame69,
	Frame74,
	Frame78,
	Frame81,
} from "../lib/figmaMarkup/globalBuyers";
import BorderTopKenyanBuyersSvg from "../components/figma/BorderTopKenyanBuyersSvg.astro";
import { sectionSpacing, typeStyles } from "../lib/figmaStyles";
import globalBuyersHeroIllustration from "../assets/figma/global-buyers/hero-illustration.png?url";
import supplyChainFoodSystemsImage from "../assets/figma/shared/supply-chain/food-systems.png?url";
import marketProduceImage from "../assets/figma/global-buyers/market-produce.png?url";
import productSpicesImage from "../assets/figma/global-buyers/product-spices.png?url";
import productPowdersImage from "../assets/figma/global-buyers/product-powders.png?url";
import productFruitFlakesImage from "../assets/figma/global-buyers/product-fruit-flakes.png?url";
import productFlourImage from "../assets/figma/global-buyers/product-flour.png?url";

const exportProductCards = [
	{
		body: "Single-origin chilis, herbs, aromatics and more.\nUsed for stand-alone seasonings, blends, and creating high quality flavour profiles for a wide range of formulations.",
		color: "#5B3711",
		image: productSpicesImage,
		imageClassName: "inset-[8%_0_9%_0]",
		title: "Flavours + Spices",
	},
	{
		body: "Leafy greens, roots, botanicals, and superfood ingredients.\nIdeal for boosting nutrition, adding natural colour, and enhancing flavour in food, beverage, and nutraceutical applications.",
		color: "#C2CE86",
		image: productPowdersImage,
		imageClassName: "inset-[8%_-10%_6%_5%]",
		title: "Power Powders",
	},
	{
		body: "Crispy, tart tropical fruit flakes for snacks, cereals, dairy products and more.\nNatural sweetness, vibrant colour, no added sugar.",
		color: "#D78228",
		image: productFruitFlakesImage,
		imageClassName: "inset-[19%_0_18%_23%]",
		title: "Fruitful Flakes",
	},
	{
		body: "Clean-label flours made from fruits, tubers, and vegetables.\nSuitable for grain-free and gluten-free formulations, baking, thickening, and functional ingredient development.",
		color: "#824266",
		image: productFlourImage,
		imageClassName: "inset-[-6%_0_-6%_0]",
		title: "Flours Free of Grain & Gluten",
	},
];

const qualityCards = [Frame50, Frame52, Frame54];
const impactPrincipleRows = [
	[Frame62, Frame65],
	[Frame69, Frame74],
	[Frame78, Frame81],
];

const transformSizeStyle =
	"--transform-inner-width: 1185; --transform-inner-height: 21;";
---

<Layout title="Global Buyers">
	<div
		class="bg-white flex flex-col items-start relative w-full"
		data-name="Buy from us - export">
		<div
			class="bg-[#4C352B] min-h-[600px] md:min-h-[800px] lg:min-h-[926px] overflow-clip relative w-full"
			data-name="Wireframe - 40">
			<div
				class="absolute flex inset-[-19.8%_-5.56%_0_-41.25%] items-center justify-center"
				style="container-type: size;">
				<div class="-rotate-90 flex-none h-[100cqw] w-[100cqh]">
					<div class="relative size-full" data-name="Vector">
						<img
							alt=""
							class="absolute block inset-0 max-w-none size-full"
							height="2114"
							src={globalBuyersHeroIllustration}
							width="1109.355"
						/>
					</div>
				</div>
			</div>
			<ContentContainer size="wide" class="pt-20 pb-30 md:pt-44">
				<div class="flex flex-col gap-10 items-center relative">
					<div
						class="flex flex-col gap-10 items-center not-italic relative text-center">
						<p
							class={`${typeStyles.heroTitleLarge} max-w-[688px] relative text-black w-full`}>
							<span class="leading-normal text-[#0f251b]"
								>Global sourcing for</span
							>
							<span class="leading-normal"
								><br aria-hidden="true" /></span
							>
							<span class="leading-normal text-green-500"
								>Kenyan ingredients</span
							>
						</p>
						<p
							class={`${typeStyles.bodyLead} max-w-[488px] relative  text-green-500 w-full`}>
							Connect directly with reliable, sustainable supply
							chains. From our farmers to your processing
							facilities worldwide.
						</p>
					</div>
					<div
						class="flex flex-col items-center relative max-w-xl w-full">
						<GlobalBuyersLeadForm
							formName="global-buyers-lead"
							inputId="global-buyers-email"
						/>
					</div>
				</div>
			</ContentContainer>
			<div
				class="absolute h-[43px] left-[calc(50%+35px)] top-[46px] w-[150px]"
				data-name="solution">
			</div>
		</div>

		<div
			class="bg-[#4c352b] min-h-[500px] md:min-h-[650px] lg:min-h-[759px] overflow-clip relative w-full"
			data-name="Wireframe - 51">
			<div
				class="absolute flex h-[620.8px] items-center justify-center left-[79.31%] right-[-24.41%] top-[41px]"
				style="container-type: size;">
				<div class="flex-none h-[100cqw] rotate-90 w-[100cqh]">
					<div class="relative size-full">
						<Fragment
							set:html={GlobalBuyersSvgs.GlobalBuyersSvg02}
						/>
					</div>
				</div>
			</div>
			<div
				class="absolute bottom-[520.68px] flex h-[169.318px] items-center justify-center left-[-548px] w-[829.172px]"
				style={transformSizeStyle}>
				<div class="-rotate-90 flex-none">
					<div
						class="h-[829.172px] relative w-[169.318px]"
						data-name="Vector">
						<Fragment
							set:html={GlobalBuyersSvgs.GlobalBuyersSvg03}
						/>
					</div>
				</div>
			</div>
			<div
				class="-translate-x-1/2 absolute flex h-[227.965px] items-center justify-center left-[calc(45.83%+19.92px)] top-[1426.15px] w-[531.966px]"
				style={transformSizeStyle}>
				<div
					class="flex-none rotate-[119.21deg] scale-y-93 skew-x-[21.13deg]">
					<div
						class="h-[443.81px] relative w-[189.687px]"
						data-name="Group">
						<Fragment
							set:html={GlobalBuyersSvgs.GlobalBuyersSvg04}
						/>
					</div>
				</div>
			</div>
			<ContentContainer
				size="wide"
				class="relative z-10 py-[80px] lg:pt-[51px] lg:pb-[96px]">
				<div class="grid gap-12 lg:grid-cols-2 lg:items-start">
					<div
						class="flex flex-col gap-10 items-start not-italic relative w-full max-w-[525px]">
						<div class="flex flex-col gap-10 items-start relative">
							<p
								class={`${typeStyles.body} relative text-orange-500 whitespace-nowrap`}>
								Kenya Grows It
							</p>
							<div
								class={`${typeStyles.heroTitleLarge} leading-zero relative text-[#c2ce86] w-full max-w-[519px] whitespace-pre-wrap`}>
								<p class="leading-normal mb-0">
									{`Where great ingredients `}
								</p>
								<p class="leading-normal">begin</p>
							</div>
							<p
								class={`${typeStyles.bodyLead} relative text-white w-full max-w-[515px]`}>
								{
									`Kenya's diverse climates and fertile soils produce a rich variety of herbs, spices, fruits, and vegetables year-round. Yet much of this agricultural bounty leaves the country with little processing or value addition.`
								}
							</p>
						</div>
						<p
							class={`${typeStyles.body} relative text-white w-full max-w-[515px]`}>
							Farm to Feed works with farmers and local processors
							to bring Kenyan ingredients to global markets -
							while ensuring more value stays where the food is
							grown.
						</p>
					</div>
					<div
						class="relative h-[360px] w-full max-w-[574px] md:h-[552px]">
						<div
							class="absolute flex h-[360px] items-center justify-center left-0 top-[40px] w-full md:h-[555.649px] md:left-[40.82px] md:top-[61.68px] md:w-[574.366px]"
							style={transformSizeStyle}>
							<div class="flex-none rotate-[9.87deg]">
								<div
									class="h-[320px] relative w-[335px] md:h-119.25 md:w-125"
									data-name="Vector">
									<Fragment
										set:html={GlobalBuyersSvgs.GlobalBuyersSvg05}
									/>
								</div>
							</div>
						</div>
						<div
							class="absolute h-[360px] left-0 top-0 w-full max-w-129.25 md:h-[552px]"
							data-name="Vector">
							<img
								alt=""
								class="absolute block inset-0 max-w-none size-full"
								height="552"
								src={supplyChainFoodSystemsImage}
								width="517"
							/>
						</div>
					</div>
				</div>
			</ContentContainer>
		</div>

		<div
			class="bg-white min-h-[600px] md:min-h-[750px] overflow-clip relative w-full"
			data-name="Wireframe - 11">
			<ContentContainer size="wide" class="pt-48 pb-24">
				<div class="flex flex-col gap-8 items-center relative w-full">
					<div
						class="flex flex-col gap-8 items-center max-w-[1052px] not-italic relative text-center w-full">
						<p
							class={`${typeStyles.body} font-medium relative text-orange-500 w-full max-w-[718px]  -mb-5`}>
							{` We Source It`}
						</p>
						<p
							class={`${typeStyles.heroTitle} relative text-[#0f251b] w-full`}>
							Your Partner in Flavour
						</p>
						<p
							class={`${typeStyles.body} relative text-green-500 w-full max-w-[718px]`}>
							With its rich agricultural diversity, Kenya offers
							exceptional potential for ingredient sourcing. We
							supply what you need.
						</p>
					</div>
					<div
						class="flex flex-col items-start justify-center relative w-full">
						<div
							class="flex flex-col gap-10 items-center justify-center relative w-full lg:flex-row lg:gap-8">
							<div
								class="absolute hidden h-[319px] items-center justify-center left-[486px] top-[20px] w-[327px] lg:flex">
								<div class="-scale-y-100 flex-none rotate-180">
									<div
										class="h-[319px] relative w-[327px]"
										data-name="Vector">
										<Fragment
											set:html={GlobalBuyersSvgs.GlobalBuyersSvg06}
										/>
									</div>
								</div>
							</div>
							<div
								class="flex flex-[1_0_0] flex-col gap-8 items-start justify-center min-w-px relative">
								<div
									class="flex flex-col items-center relative rounded-[30px] w-full">
									<div
										class="flex flex-col gap-8 items-center justify-center relative">
										<div
											class="grid-cols-[max-content] grid-rows-[max-content] inline-grid leading-zero place-items-start relative">
											<div
												class="col-1 flex h-38.5 items-center justify-center ml-0 mt-0 relative row-1 w-39.5">
												<div
													class="-scale-y-100 flex-none rotate-180">
													<div
														class="h-38.5 relative w-39.5"
														data-name="Vector">
														<Fragment
															set:html={GlobalBuyersSvgs.GlobalBuyersSvg07}
														/>
													</div>
												</div>
											</div>
											<div
												class="col-1 grid-cols-[max-content] grid-rows-[max-content] inline-grid ml-[56.25px] mt-[32.99px] place-items-start relative row-1">
												<div
													class="col-1 grid-cols-[max-content] grid-rows-[max-content] inline-grid ml-0 mt-0 place-items-start relative row-1">
													<div
														class="col-1 grid-cols-[max-content] grid-rows-[max-content] inline-grid ml-[0.12px] mt-[21.73px] place-items-start relative row-1">
														<div
															class="col-1 h-[67.62px] ml-0 mt-0 relative row-1 w-[38.882px]"
															data-name="Isolation_Mode">
															<Fragment
																set:html={GlobalBuyersSvgs.GlobalBuyersSvg08}
															/>
														</div>
													</div>
													<div
														class="col-1 flex h-[21.731px] items-center justify-center ml-0 mt-0 relative row-1 w-[25.226px]"
														style={transformSizeStyle}>
														<div
															class="flex-none rotate-[-5.65deg]">
															<div
																class="h-[19.519px] relative w-[23.417px]"
																data-name="Vector">
																<Fragment
																	set:html={GlobalBuyersSvgs.GlobalBuyersSvg09}
																/>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<p
											class={`${typeStyles.cardTitle} not-italic relative text-black text-center whitespace-nowrap`}>
											Single origin
										</p>
									</div>
								</div>
								<div
									class="flex flex-col items-center relative rounded-[30px] w-full">
									<div
										class="flex flex-col gap-8 items-center justify-center relative">
										<div
											class="grid-cols-[max-content] grid-rows-[max-content] inline-grid leading-zero place-items-start relative">
											<div
												class="col-1 flex h-38.5 items-center justify-center ml-0 mt-0 relative row-1 w-39.5">
												<div
													class="-scale-y-100 flex-none rotate-180">
													<div
														class="h-38.5 relative w-39.5"
														data-name="Vector">
														<Fragment
															set:html={GlobalBuyersSvgs.GlobalBuyersSvg10}
														/>
													</div>
												</div>
											</div>
											<div
												class="col-1 grid-cols-[max-content] grid-rows-[max-content] inline-grid ml-[28.51px] mt-[26.25px] place-items-start relative row-1">
												<div
													class="col-1 flex items-center justify-center ml-0 mt-0 relative row-1 size-[101.745px]"
													style={transformSizeStyle}>
													<div
														class="flex-none rotate-[-102.58deg]">
														<div
															class="relative size-[85.228px]"
															data-name="Isolation_Mode">
															<Fragment
																set:html={GlobalBuyersSvgs.GlobalBuyersSvg11}
															/>
														</div>
													</div>
												</div>
												<div
													class="col-1 h-[24.995px] ml-[38.01px] mt-[39.76px] relative row-1 w-[25.702px]">
													<div
														class="absolute inset-[-1.2%_-1.17%]">
														<Fragment
															set:html={GlobalBuyersSvgs.GlobalBuyersSvg12}
														/>
													</div>
												</div>
											</div>
										</div>
										<p
											class={`${typeStyles.cardTitle} not-italic relative text-black text-center whitespace-nowrap`}>
											Sustainably sourced
										</p>
									</div>
								</div>
							</div>
							<div
								class="h-[320px] relative w-full max-w-[405px] md:h-[394px]">
								<img
									alt=""
									class="absolute inset-0 max-w-none object-contain pointer-events-none size-full"
									src={marketProduceImage}
								/>
							</div>
							<div
								class="flex flex-[1_0_0] flex-col gap-8 items-start justify-center min-w-px relative">
								<div
									class="flex flex-col items-center relative rounded-[30px] w-full">
									<div
										class="flex flex-col gap-8 items-center justify-center relative">
										<div class="h-38.5 relative w-39.5">
											<Fragment
												set:html={GlobalBuyersSvgs.GlobalBuyersSvg13}
											/>
										</div>
										<p
											class={`${typeStyles.cardTitle} not-italic relative text-black text-center whitespace-nowrap`}>
											Traceable to farmers
										</p>
									</div>
								</div>
								<div
									class="flex flex-col items-center relative rounded-[30px] w-full">
									<div
										class="flex flex-col gap-8 items-center justify-center relative">
										<div
											class="grid-cols-[max-content] grid-rows-[max-content] inline-grid leading-zero place-items-start relative">
											<div
												class="col-1 flex h-38.5 items-center justify-center ml-0 mt-0 relative row-1 w-39.5">
												<div
													class="-scale-y-100 flex-none rotate-180">
													<div
														class="h-38.5 relative w-39.5"
														data-name="Vector">
														<Fragment
															set:html={GlobalBuyersSvgs.GlobalBuyersSvg14}
														/>
													</div>
												</div>
											</div>
											<div
												class="col-1 grid-cols-[max-content] grid-rows-[max-content] inline-grid ml-[6.38px] mt-[16px] place-items-start relative row-1">
												<div
													class="col-1 flex h-[138.023px] items-center justify-center ml-0 mt-0 relative row-1 w-[137.58px]"
													style={transformSizeStyle}>
													<div
														class="flex-none rotate-[-138.23deg]">
														<div
															class="h-[100.378px] relative w-[94.812px]"
															data-name="Isolation_Mode">
															<Fragment
																set:html={GlobalBuyersSvgs.GlobalBuyersSvg15}
															/>
														</div>
													</div>
												</div>
											</div>
										</div>
										<p
											class={`${typeStyles.cardTitle} not-italic relative text-black text-center whitespace-nowrap`}>
											Local value addition
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ContentContainer>
			<div
				class="absolute flex inset-[-16.55%_-0.63%_90.18%_-3.75%] items-center justify-center"
				style="container-type: size;">
				<div class="flex-none h-[100cqw] rotate-90 w-[100cqh]">
					<div class="relative size-full" data-name="Vector">
						<Fragment
							set:html={GlobalBuyersSvgs.GlobalBuyersSvg16}
						/>
					</div>
				</div>
			</div>
		</div>

		<div
			class="bg-white overflow-visible relative w-full"
			data-name="Wireframe - 42">
			<ContentContainer
				size="wide"
				class="flex flex-col items-center gap-[80px] py-2">
				<div
					class="flex flex-col gap-8 items-center max-w-[1052px] not-italic relative text-center w-full">
					<p
						class={`${typeStyles.body} font-medium relative text-orange-500 w-full max-w-[718px] -mb-5`}>
						We Connect It
					</p>
					<p
						class={`${typeStyles.heroTitle} relative text-[#0f251b] w-full`}>
						From Kenyan farms to global buyers
					</p>
					<p
						class={`${typeStyles.body} relative text-green-500 w-full max-w-[718px]`}>
						We build demand-driven supply chains. Our model matches
						your ingredient needs with reliable supply from our
						trusted network. We offer different product lines that
						harness dehydration and modern technology to capture
						peak season freshness.
					</p>
				</div>
				<div
					class="grid gap-10 relative w-full sm:grid-cols-2 lg:grid-cols-4 lg:gap-8">
					{
						exportProductCards.map((productCard) => (
							<article class="flex flex-col items-center gap-8 text-center lg:gap-12">
								<div class="relative h-[220px] w-[248px] overflow-hidden md:h-[240px] md:w-[271px]">
									<div
										class="absolute inset-[0_5.14%_0_8.39%]"
										style={`background-color: ${productCard.color}; border-radius: 45% 55% 49% 51% / 48% 44% 56% 52%;`}
									/>
									<div
										class={`absolute ${productCard.imageClassName}`}>
										<img
											alt=""
											class="block size-full object-contain"
											src={productCard.image}
										/>
									</div>
								</div>
								<div class="flex flex-col gap-5 items-center w-full">
									<h3
										class={`${typeStyles.cardTitle} not-italic text-[#0f251b] text-center w-full`}>
										{productCard.title}
									</h3>
									<p
										class={`${typeStyles.body} whitespace-pre-line text-green-500 text-center w-full`}>
										{productCard.body}
									</p>
								</div>
							</article>
						))
					}
				</div>
			</ContentContainer>
		</div>

		<div
			class="bg-olive-200 min-h-[500px] md:min-h-[600px] overflow-clip relative w-full"
			data-name="Wireframe - 52">
			<ContentContainer size="wide" class={sectionSpacing.default}>
				<div class="flex flex-col gap-8 items-center relative w-full">
					<div
						class="flex flex-col gap-8 items-center max-w-[1052px] not-italic relative text-center w-full">
						<p
							class={`${typeStyles.body} font-medium relative text-orange-500 w-full max-w-[718px]`}>
							You Receive It
						</p>
						<p
							class={`${typeStyles.heroTitle} relative text-[#0f251b] w-full`}>
							Quality You Can Trust
						</p>
						<p
							class={`${typeStyles.body} relative text-green-500 w-full max-w-[718px]`}>
							We work closely with farmers and processors to
							ensure ingredients meet international quality
							standards.
						</p>
					</div>
					<div class="flex flex-col items-start relative w-full">
						<div
							class="flex flex-col gap-8 items-stretch relative w-full lg:flex-row lg:items-start">
							{
								qualityCards.map((QualityCard) => (
									<Fragment set:html={QualityCard} />
								))
							}
						</div>
					</div>
				</div>
			</ContentContainer>
			<div class="hidden" data-name="order">
				<p
					class={`${typeStyles.body} not-italic relative text-[#eee] text-center whitespace-nowrap`}>
					Learn More
				</p>
			</div>
			<BorderTopKenyanBuyersSvg
				className="absolute inset-x-0 top-0 w-full max-w-none pointer-events-none select-none"
				fill="white"
			/>
		</div>

		<div
			class="bg-olive-200 overflow-clip relative w-full"
			data-name="Wireframe - 54">
			<ContentContainer
				size="wide"
				class={`flex flex-col gap-16 md:gap-[96px] ${sectionSpacing.default}`}>
				<div
					class="flex flex-col gap-8 items-start max-w-[737px] not-italic relative w-full">
					<p
						class={`${typeStyles.caption} relative text-orange-500 w-full max-w-[624px]`}>
						We bring it to the World
					</p>
					<p
						class={`${typeStyles.heroTitle} relative text-[#0f251b] w-full`}>
						Sourcing that strengthens the food system.
					</p>
					<p
						class={`${typeStyles.bodyLead} relative text-green-500 text-lg md:text-xl w-full max-w-[624px]`}>
						Our ingredients contribute to a more resilient and
						sustainable global food system. We operate on six core
						impact principles.
					</p>
				</div>
				<div
					class="flex flex-col items-start relative w-full max-w-[1274px]">
					<div
						class="flex flex-col gap-8 items-start relative w-full">
						{
							impactPrincipleRows.map((row) => (
								<div class="flex flex-col gap-8 items-stretch relative w-full lg:flex-row lg:items-center">
									{row.map((Card) => (
										<Fragment set:html={Card} />
									))}
								</div>
							))
						}
					</div>
				</div>
			</ContentContainer>
		</div>

		<div class="bg-olive-200 relative w-full" data-name="Wireframe - 36">
			<ContentContainer
				size="wide"
				class="flex justify-center py-[80px] lg:pt-2 lg:pb-[80px]">
				<div
					class="bg-[#4c352b] min-h-[520px] overflow-clip relative rounded-[40px] w-full max-w-[1216px] flex items-center justify-center p-6 md:p-10"
					data-name="Wireframe - 37">
					<div
						class="absolute h-[265.41px] left-[calc(83.33%-80.33px)] opacity-28 top-[328px] w-[361.514px]">
						<div
							class="absolute bottom-0 h-[265.41px] right-0 w-[361.514px]"
							data-name="Group">
							<Fragment
								set:html={GlobalBuyersSvgs.GlobalBuyersSvg17}
							/>
						</div>
					</div>
					<div
						class="absolute h-[423.454px] left-[139px] opacity-28 top-[267px] w-[381.093px]">
						<div
							class="absolute bottom-0 flex h-[423.454px] items-center justify-center left-0 w-[381.093px]"
							style={transformSizeStyle}>
							<div class="flex-none rotate-[-29.12deg]">
								<div
									class="h-[350.48px] relative w-[240.979px]"
									data-name="Group">
									<Fragment
										set:html={GlobalBuyersSvgs.GlobalBuyersSvg18}
									/>
								</div>
							</div>
						</div>
					</div>
					<div
						class="absolute h-[397.291px] left-[-95px] opacity-28 top-[-21px] w-[375.304px]">
						<div
							class="absolute flex h-[397.291px] items-center justify-center left-0 top-0 w-[375.304px]"
							style={transformSizeStyle}>
							<div class="flex-none rotate-[42.05deg]">
								<div
									class="h-[424.6px] relative w-[122.431px]"
									data-name="Group">
									<Fragment
										set:html={GlobalBuyersSvgs.GlobalBuyersSvg19}
									/>
								</div>
							</div>
						</div>
					</div>
					<div
						class="absolute h-[221.381px] left-[calc(75%+14px)] opacity-28 top-[-59px] w-[329.65px]">
						<div
							class="absolute flex h-[221.381px] items-center justify-center right-0 top-0 w-[329.65px]"
							style={transformSizeStyle}>
							<div class="flex-none rotate-[-76.09deg]">
								<div
									class="h-[301.627px] relative w-[153.391px]"
									data-name="Group">
									<Fragment
										set:html={GlobalBuyersSvgs.GlobalBuyersSvg20}
									/>
								</div>
							</div>
						</div>
					</div>
					<div
						class="flex flex-col gap-10 items-center relative rounded-[40px] w-full z-10">
						<p
							class={`${typeStyles.heroTitle} not-italic relative text-yellow-200 text-center w-full max-w-[800px]`}>
							Ready to source differently?
						</p>
						<div
							class={`${typeStyles.bodyLead} leading-zero not-italic relative text-center text-white w-full max-w-148 whitespace-pre-wrap`}>
							<p class="leading-copy mb-0">
								{
									`Farm to Feed partners with global buyers looking for reliable sourcing, transparent supply chains, and ingredients that deliver both quality and impact. `
								}
							</p>
							<p>
								<span class="leading-copy text-orange-500"
									>Read more</span
								>
								<span class="leading-copy"
									>{` on our impact page.`}</span
								>
							</p>
						</div>
						<div
							class="flex flex-col items-center relative max-w-xl w-full">
							<GlobalBuyersLeadForm
								formName="global-buyers-cta-lead"
								inputId="global-buyers-cta-email"
							/>
						</div>
					</div>
				</div>
			</ContentContainer>
			<div class="absolute inset-[92.54%_0_0_0]">
				<Fragment set:html={GlobalBuyersSvgs.GlobalBuyersSvg22} />
			</div>
		</div>
	</div>
</Layout>
